<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856068984937-fgvuchc6d1d617mvlsbi9pvdtu51d3rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856068984937-fgvuchc6d1d617mvlsbi9pvdtu51d3rd</string>
	<key>API_KEY</key>
	<string>AIzaSyDxFOTtLIu0FMk5FMSFf5KveRivoY0h9ds</string>
	<key>GCM_SENDER_ID</key>
	<string>856068984937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pokedex.pokedexapp</string>
	<key>PROJECT_ID</key>
	<string>pokedex-native-40896</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-native-40896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856068984937:ios:befb3287f94bb5612592f8</string>
	<key>DATABASE_URL</key>
	<string>https://pokedex-native-40896.firebaseio.com</string>
</dict>
</plist>